/* Feature Panel*/

.panel-feature {
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 0px;
}

.panel-feature:hover {
    opacity: 0.8;
    transition: all ease-in-out 300ms;
}

.panel-feature:focus,
.panel-feature:visited,
.panel-feature-list li:focus,
.panel-feature-list li:visited,
.panel-feature-list a:focus,
.panel-feature-list a:visited {
    outline: none!important;
    border: none!important;
    background: none!important;
}

.panel-feature-black {
    background-color: black;
}

.panel-feature-grey {
    background-color: #B2B2B2;
}

.panel-feature-green {
    background-color: $brand-primary;
}

.panel-feature-yellow {
    background-color: $yellow;
}

.panel-feature-red {
    background-color: $red;
}

.panel-feature-orange {
    background-color: $orange;
}

.dropdown-full .list-group a {
    color: $green;
}

.navbar.navbar-tba .navbar-nav .dropdown-full .group-list a {
    background-color: $white;
    color: $green;
    font-weight: bold;
    text-transform: capitalize;
}

.navbar.navbar-tba .navbar-nav .dropdown-menu li:not(.list-group)>a.panel-feature {
    padding: 0px;
    margin: 0px;
}

.navbar.navbar-tba .navbar-nav .dropdown-menu .panel-feature-list li.active {
    background-color: transparent;
}

.navbar.navbar-tba .navbar-nav .dropdown-menu li:not(.list-group)>a.panel-feature:hover {
    background-color: transparent;
}

.navigationbar {
    background: white;
    padding-bottom: 1px;
}

.panel-feature .panel-body {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    padding-top: 5px;
}

.panel-feature .panel-heading {
    font-family: "BauerBodoni-Bold", Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.panel-feature .panel-heading h3 {
    color: white;
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-align: left;
}


/* Utilities */

.ult-spacer-100 {
    height: 100px;
}


/* Panel Grid*/

.panel-grid .grey-text {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}

.panel-grid {
    cursor: pointer;
}

.panel-grid h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0px!important;
    font-size: 15px;
}

.panel-grid .panel-body {
    padding-left: 5px;
}

.panel-bg-yellow {
    background: $yellow;
    color: white;
}

.panel-bg-yellow .grey-text {
    color: white;
}

.panel-border-yellow.panel-bg-yellow h4 {
    color: $white;
}

.panel-grid .grey-text {
    display: block;
    text-transform: uppercase;
}

.panel-grid address {
    margin: 10px 0 0;
    line-height: 20px;
    font-size: 10px
}

.panel-body img.image-responsive {
    width: 80%;
}


/* Panel colours */

.panel-border-red {
    border: 5px solid $red;
}

.panel-border-red h4 {
    color: $red;
}

.panel-border-yellow {
    border: 5px solid $yellow;
}

.panel-border-yellow h4 {
    color: $yellow;
}

.panel-border-green {
    border: 5px solid $green;
}

.panel-border-green h4 {
    color: $green;
}

.panel-border-orange {
    border: 5px solid $orange;
}

.panel-border-orange h4 {
    color: $orange;
}

.panel-border-red,
.panel-border-yellow,
.panel-border-green,
.panel-border-orange {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.panel-border-yellow:hover,
.panel-border-yellow:hover h4,
.panel-border-yellow:hover span {
    background-color: $yellow;
    color: $white;
}

.panel-border-red:hover,
.panel-border-red:hover h4,
.panel-border-red:hover span {
    background-color: $red;
    color: $white;
}

.panel-border-green:hover,
.panel-border-green:hover h4,
.panel-border-green:hover span {
    background-color: $green;
    color: $white;
}

.panel-border-orange:hover,
.panel-border-orange:hover h4,
.panel-border-orange:hover span {
    background-color: $orange;
    color: $white;
}


/* buttons */

.btn-red {
    background: $red none repeat scroll 0 0;
    border: rad;
    border-radius: 0px;
    width: 150px;
    top: 68px;
    z-index: 5000;
}


/* .modal-fullscreen */

.modal-fullscreen .form-control-search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color red;
    border-image: none;
    border-style: none none dotted;
    border-width: 0 0 5px;
    color: #c2c2c2;
    font-size: 580%;
    height: 150px;
}

.modal-fullscreen #input-group-search .btn-secondary {
    background: none;
}

.modal-fullscreen .modal-header,
.modal-fullscreen .modal-body,
.modal-fullscreen .modal-footer {
    border: medium none;
}

.modal-fullscreen {
    background: transparent;
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
    background: $white;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .97;
    filter: alpha(opacity=97);
}


/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 500000;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}