@font-face {
    font-family: #{$font-bodoni};
    font-weight: normal;
    src: url('../fonts/bodoni/bauerbbl.woff2') format('woff2'), url('../fonts/bodoni/BauerBodoniBT-BoldItalic.woff') format('woff'), url('../fonts/bodoni/bauerbbl.ttf') format('truetype');
}

@font-face {
    font-family: #{$font-bodoni};
    font-weight: bold;
    src: url('../fonts/bodoni/bauerbbd.woff2') format('woff2'), url('../fonts/bodoni/BauerBodoniBT-Bold.woff') format('woff'), url('../fonts/bodoni/bauerbbd.ttf') format('truetype');
}