.homepage__section {
	padding: $grid-gutter-width 0;
}

// Homepage intro slideshow
// --------------------------------------------------
.section__slideshow-intro {

}

.section__slideshow-intro .slideshow__container  {
	background-repeat: no-repeat;
	background-position: center center;
	// background-size: cover;
	padding-top: 10vh;
	text-align: center;	
	height: 50vh;
	max-height: 600px;
}
	.slide5 {	background-image: url("../images/banners/40192029_TBS_Early_Reg_Webslider_2000x800_1.jpg");	}
	.slide6 {	background-image: url("../images/banners/the-business-school.jpg");	}
	.slide7 {	background-image: url("../images/banners/business-courses.jpg");	}
	.slide8 {	background-image: url("../images/banners/part-time-business-courses.jpg");	}


.slideshow__content {}

	.slideshow__text {
		padding: 20px;
		background-color: $brand-primary;
	}

	.slideshow__text p {
		font-weight: bold;
		margin-bottom: 25px;
	}

	.slideshow__text .medium-text {
		font-size: 18px;
	}

 

// Programmes
// ---------------------------------------------



// Why Choose The Business School
// ---------------------------------------------
.section__choose {
    min-height: 500px;
	background: url("../images/choose-bg.jpg") no-repeat center center;
	padding-top: 130px;
} 

.section__choose-content {
    width: 65%;
    margin: 0 auto;
    background-color: $white;
    padding: 20px;
}

@media (min-width: 1300px) {
    .section__choose-content{
        width: 50%;
    }
}



// News
// ---------------------------------------------
.section__latest-news {
	background: url('../img/news-bg.jpg') no-repeat center center;
	background-size: cover;
}