$programmes_margin_small: 10px;

.programmes__menu {
    margin: 0 -#{$programmes_margin_small} 40px -#{$programmes_margin_small} !important;
    font-size: 0;
} 

    .programmes__item {
        
        padding: 0 5px $programmes_margin_small 5px;
        font-size: $font-size-base;
        vertical-align: top;
		@media (max-width: $screen-xs-max) {
			width: 100%;
		}	
		@media (min-width: $screen-sm-min) {
			width: 33%;
		}	
    }


        .programmes__link {
            display: block;
            color: $text-color;
            border: solid 2px $brand-primary;
            padding: 5px;
            &:visited {
                color: $text-color;
            }
            &:hover {
                background: $brand-primary;
                color: $white;

                .programmes__title,
                .programmes__sub-title,
                .programmes__details dt,
                .programmes__details dd,
                .text-grey {
                    color: $white;
                }
            }
        }

            .programmes__thumbnail {
				display: block;
				margin: 0 auto;
                margin-bottom: $programmes_margin_small;
            }

			@media (min-width: $screen-sm-min) {
				.programmes__header {
					min-height: 10rem;
				}
			}	
                .programmes__title {
                    margin-bottom: $programmes_margin_small;
                }

                .programmes__sub-title {
                    margin-bottom: $programmes_margin_small;
                }


            .programmes__details {
                overflow: hidden;                
                margin-bottom: $programmes_margin_small*4;

                dt, dd {
                    float: left;
                    padding-right: 5px;
                }
                dt {
                    clear: both;
                }
            }