<div class="navigationbar">
    <div id="nav_wrapper">
        <nav class="navbar navbar-static-top navbar-tba" id="navbar-main" role="navigation">
            <div class="topbar">
                <div class="container">
                    <div class="topText left">
                        <div class="white-text tk-proxima-nova">CLICK HERE FOR
                            <span class="lime-text tk-proxima-nova">
                                <a id="reg-link" href="https://www.varsitycollege.co.za/programmes/part-time">PART-TIME QUALIFICATIONS</a>
                            </span>
                        </div>
                    </div>

                    <div class="social-wrapper">
                        <p class="social left">
                            <a href="https://www.facebook.com/BusinessSchoolVC" target="_blank">
                                <img src="img/fb-icon.gif" alt="Facebook" />
                            </a>
                        </p>
                        <p class="social left">
                            <a href="https://twitter.com/BizSchoolVC" target="_blank">
                                <img src="img/twitter-icon.gif" alt="Twitter" />
                            </a>
                        </p>
                        <p class="social left">
                            <a href="http://www.linkedin.com/company/the-business-school" target="_blank">
                                <img src="img/linkedin-icon.gif" alt="LinkedIn" />
                            </a>
                        </p>
                        <p class="social left">
                            <a href="https://www.thebusinessschool.co.za/registration" class="btn button-green btn-block navbar-btn">
                                <span>
                                    <i class="fa fa-pencil "></i>Register</span>
                            </a>
                        </p>
                        <p class="social left">
                            <button type="button" data-toggle="modal" data-target="#enquireModal" class="btn btn-danger btn-red btn-block navbar-btn ">
                                <span>
                                    <i class="fa fa-pencil "></i>Enquire now</span>
                            </button>
                        </p>
                        <di class="clear"></di>
                    </div>

                </div>
            </div>

            <div class="container mainNav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MegaNavbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="img/tbs_logo.png" alt="The Business School logo" />
                    </a>
                    <div class="clear"></div>
                </div>

                <div class="collapse navbar-collapse" id="MegaNavbar">
                    <ul class="nav navbar-nav navbar-left">

                        <li class="dropdown-short">
                            <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown">
                                <span class="reverse">About Us</span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/the-iie">The IIE</a>
                                </li>
                                <li>
                                    <a href="/intro-to-the-business-school">About TBS</a>
                                </li>
                                <li>
                                    <a href="/short-learning-programme-faq">Short Learning FAQ's</a>
                                </li>
                                <li>
                                    <a href="/how-to-register">How to register</a>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown-short ">
                            <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="true">Programmes</a>
                            <div class="dropdown-menu" style="position: absolute; margin: 0px -15px 40px; margin-top: -12px; top: 100%; bottom: auto; left: 0px; right: 0px; padding: 15px; padding-bottom: 40px;">

                                <ul class="col-md-12 panel-feature-list">

                                    <li class="col-md-6">

                                        <a href="/programmes" class="panel-feature">
                                            <div class="panel panel-feature panel-feature-grey">
                                                <div class="panel-heading">
                                                    <h3>All Programmes</h3>
                                                </div>
                                                <div class="panel-body">PROGRAMMES</div>
                                            </div>
                                        </a>

                                    </li>

                                    <li class="col-md-6">

                                        <a href="/programmes/short-learning" class="panel-feature">
                                            <div class="panel panel-feature panel-feature-green">
                                                <div class="panel-heading">
                                                    <h3>Short Learning</h3>
                                                </div>
                                                <div class="panel-body">PROGRAMMES</div>
                                            </div>
                                        </a>

                                    </li>
                                    
                                    <li class="col-md-6">
                                        <a href="/programmes/corporate-offers" class="panel-feature">
                                            <div class="panel panel-feature panel-feature-red">
                                                <div class="panel-heading">
                                                    <h3>Corporate</h3>
                                                </div>
                                                <div class="panel-body">PROGRAMMES</div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="col-md-6">
                                        <a href="/programmes/starting-soon" class="panel-feature">
                                            <div class="panel panel-feature panel-feature-orange">
                                                <div class="panel-heading">
                                                    <h3>Starting</h3>
                                                </div>
                                                <div class="panel-body">SOON</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>



                        <li class="dropdown-short">
                            <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="true">Find a Campus</a>

                            <ul class="col-md-8 dropdown-menu panel-feature-list">
                                <li class="col-md-6">
                                    <a class="CampusMenuLink" href="/campuses/durban-north">
                                        <div class="panel panel-grid panel-border-yellow">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-durban-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Durban North</h4>
                                                    <span class="grey-text">KWAZULU NATAL</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (031) 573 2038
                                                        <br>
                                                        <i class="fa fa-envelope"></i> VCDNTBS@VARSITYCOLLEGE.CO.ZA </address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="CampusMenuLink" href="/campuses/pietermaritzburg">
                                        <div class="panel panel-grid panel-border-red">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-pietermaritzburg-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Pietermaritzburg</h4>
                                                    <span class="grey-text">KWAZULU NATAL</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (033) 386 2376
                                                        <br>
                                                        <i class="fa fa-envelope"></i> PMB@VARSITYCOLLEGE.CO.ZA</address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="CampusMenuLink" href="/campuses/port-elizabeth">
                                        <div class="panel panel-grid panel-border-yellow">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-port-elizabeth-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Port Elizabeth</h4>
                                                    <span class="grey-text">EASTERN CAPE</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (041) 363 4223
                                                        <br>
                                                        <i class="fa fa-envelope"></i> PE@VARSITYCOLLEGE.CO.ZA</address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="CampusMenuLink" href="/campuses/pretoria">
                                        <div class="panel panel-grid panel-border-red">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-pretoria-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Pretoria</h4>
                                                    <span class="grey-text">GAUTENG</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (012) 348 2551
                                                        <br>
                                                        <i class="fa fa-envelope"></i> PTA@VARSITYCOLLEGE.CO.ZA</address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="col-md-6">
                                    <a class="CampusMenuLink" href="/campuses/durban-westville">
                                        <div class="panel panel-grid panel-border-green">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-westville-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Durban Westville</h4>
                                                    <span class="grey-text">KWAZULU NATAL</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (031) 266 8400
                                                        <br>
                                                        <i class="fa fa-envelope"></i> DBW@VARSITYCOLLEGE.CO.ZA </address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="CampusMenuLink" href="/campuses/cape-town">
                                        <div class="panel panel-grid panel-border-orange">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-cape-town-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Cape Town</h4>
                                                    <span class="grey-text">WESTERN CAPE</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (021) 685 5021
                                                        <br>
                                                        <i class="fa fa-envelope"></i> CT@VARSITYCOLLEGE.CO.ZA</address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="CampusMenuLink" href="/campuses/waterfall">
                                        <div class="panel panel-grid panel-border-green">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-midlands-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Waterfall - Midrand</h4>
                                                    <span class="grey-text">GAUTENG</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (010) 224 4300
                                                        <br>
                                                        <i class="fa fa-envelope"></i> MRD@VARSITYCOLLEGE.CO.ZA</address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="CampusMenuLink" href="/campuses/sandton">
                                        <div class="panel panel-grid panel-border-orange">
                                            <div class="panel-body">
                                                <div class="col-md-4">
                                                    <img src="images/campus/the-business-school-santon-campus.jpg" class="image-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <h4>Sandton</h4>
                                                    <span class="grey-text">GAUTENG</span>
                                                    <address>
                                                        <i class="fa fa-phone"></i> (011) 784 6939
                                                        <br>
                                                        <i class="fa fa-envelope"></i> SDTN@VARSITYCOLLEGE.CO.ZA</address>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>


                        </li>

                        <li>
                            <a href="/articles">NEWS &amp; ARTICLES</a>
                        </li>
                        <li>
                            <a href="/myvc">My VC</a>
                        </li>
                        <li>
                            <a href="/contact">Contacts</a>
                        </li>

                        <li class="hidden-lg hidden-md hidden-sm">
                            <a class="nav-search" href="javascript:void();" data-toggle="modal" data-target="#modal-fullscreen" style="color: #000;">Search</a>
                        </li>



                        <li class="divider"></li>


                        <li class="dropdown-grid hidden-xs">
                            <a class="nav-search" href="javascript:void();" data-toggle="modal" data-target="#modal-fullscreen">
                                <i class="fa fa-search fa-2x"></i>&nbsp;</a>

                        </li>

                    </ul>
                </div>

            </div>

            <div class="clear dottedHor"></div>
        </nav>

    </div>

</div>